@font-face {
    font-family: 'Champagne';
    src: url('/fonts/Champagne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Champagne';
    src: url('/fonts/ChampagneBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: 'Champagne', sans-serif;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

::selection {
    background-color: #0C0C0C;
    color: white;
}


img::selection {
    background-color: transparent;
    color: inherit;
}

/* Para compatibilidad con navegadores */
img::-moz-selection {
    background-color: transparent;
    color: inherit;
}


body {
    overflow: auto;
    background-color: #0C0C0C;
}

:root {
    --swiper-theme-color: #0C0C0C !important;
    --swiper-navigation-size: 1.9em !important;
}

a {
    color: #000;
}

header {

    /* La transición debe ser para ambos */
    z-index: 9999;
}






.desktop-nav {
    margin-bottom: 100px;



}

.desktop-nav ul {
    display: flex;
    list-style: none;
    gap: 10%;
    font-size: 1.5vw;
    padding: 0;

    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.desktop-nav ul.visible {
    opacity: 1;
    transform: translateX(0);
}

.desktop-nav ul li:nth-child(4) {
    display: flex;
    align-items: center;
    gap: 5px;
}

#menu-social {
    display: none;
}

.desktop-nav a {
    color: rgb(0, 0, 0);
    transition: color 0.2s ease;
}




.container-white {
    display: flex;
    background-color: white;
}

.container-w-left {
    width: 65%;
    padding: 5%;
    position: relative;

}

.container-w-right {
    width: 35%;
    display: flex;
    justify-content: end;
}

#hero-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 10;
    position: sticky;
    top: 0;
    opacity: 0;
    transition: opacity 0.6s ease;
}

#hero-video.visible {
    opacity: 1;
}

.hero {
    height: 100vh;
    width: 100%;

}

#video-hero {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    /* Dejamos el video con opacidad normal */
    display: none;
    transition: opacity 0.6s ease-in;
    -webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0) 80%);
    mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.253) 80%);
}

#video-hero.visible {
    opacity: 1;
}

.resource-wrapper {
    display: inline-block;
    will-change: transform;
}

#hero-text {
    display: flex;
    align-items: start;
    flex-direction: column;
    height: fit-content;
    margin-bottom: 7%;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s ease, transform 1s ease;

}

#hero-text.visible {
    opacity: 1;
    transform: translateX(0);
}

#argentina {
    object-fit: cover;
    width: 1.5vw;
    height: auto;
}


#resource2 {
    transform-origin: center center;
    /* Para que gire alrededor de su centro */
    animation: rotate 60s infinite linear;
    /* Rotación continua */
    transition: opacity 0.6s ease;
    opacity: 0;
}

#resource1 {
    transform-origin: center center;
    /* Para que gire alrededor de su centro */
    animation: rotate 60s infinite linear;
    /* Rotación continua */
    transition: opacity 0.6s ease;
    opacity: 0;
}

#resource1.visible {
    opacity: 1 !important;
}


#resource2.visible {
    opacity: 1;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        /* Empieza sin rotación */
    }

    100% {
        transform: rotate(360deg);
        /* Completa una vuelta de 360 grados */
    }
}

#resource1 {
    position: absolute;
    top: 20%;
    left: -420px;
    object-fit: cover;
    z-index: 0;
}

#resource2 {
    width: 30%;
    position: absolute;
    top: -5%;
    right: -7%;
    object-fit: cover;
    z-index: 0;
}

.hero-logo {
    font-size: 5vw;
    font-weight: bold;
    margin-bottom: 2%;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s ease, transform 1s ease;
    width: 100%;

}



.hero-logo.visible {
    opacity: 1;
    transform: translateX(0);
}

h1 {
    font-weight: normal;
    width: fit-content;
    font-size: 3vw;
}

.hero-btn {
    color: white;
    background-color: #0C0C0C;
    border: none;
    font-weight: bold;
    font-size: 2vw;
    padding: 1% 10%;
    border: 1px solid transparent;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.6s ease, transform 0.6s ease, background-color 0.3s ease;
    z-index: 1000;
    position: absolute;
}

.hero-btn.visible {
    opacity: 1;
    transform: translateX(0);
}

.hero-btn:hover {
    background-color: transparent;
    border: 1px solid #0C0C0C;
    color: #0C0C0C;
    cursor: pointer;
    transform: translateY(-10px);
}

.gallery {
    min-height: 100vh;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 5%;
}

h2 {
    font-weight: normal;
    font-size: 5em;
    letter-spacing: 0.7em;
    margin-bottom: 10%;
    margin-top: 10%;
    transform: translateY(50px);
    transition: all 0.6s ease;
    opacity: 0;
}

h2.visible {
    opacity: 1;
    transform: translateY(0px);
}

.swiper {
    width: 100%;
    height: fit-content;
    margin: 0 !important;
    cursor: grab;
}

.swiper:active {
    cursor: grabbing;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;

}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    position: inherit !important;
    margin-top: 20px !important;
}

.swiper-pagination-bullet {
    width: 10px !important;
    /* Tamaño mínimo recomendado */
    height: 10px !important;
    margin: 8px !important;
    /* Espaciado suficiente entre bullets */
}

.swiper-button-next,
.swiper-button-prev {
    position: inherit !important;
}

.swiper-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 2%;
}

.swiper-button-prev {
    left: 0 !important;
}

.swiper-button-next {
    left: 40px !important;
}

.gallery-tattoo {
    width: 220px;
    height: 220px;
    object-fit: cover;
    object-position: center;
}

#btn-seeall {
    color: white;
    background-color: #0C0C0C;
    border: none;
    font-weight: bold;
    font-size: 1.7em;
    padding: 1% 5%;
    margin-top: 5%;
    transition: all 0.3s ease;
}

#btn-seeall:hover {
    transform: translateX(15px);
    background-color: #0c0c0ccb;
}

/* BOOKING SECTION */

.container-booking {
    height: fit-content;
    width: 100%;
    background-color: #0C0C0C;
    padding: 2% 5% 5% 5%;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    justify-content: space-evenly;
}

#booking-title {
    margin-bottom: 2%;
}

.booking-info {
    margin-left: 20%;
}

.booking-info {
    font-size: 1.2em;
}

.booking-info p:nth-child(1) {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 3%;
}

.info-number {
    font-size: 2em !important;
    color: #535353;
}

#before-booking {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

#before-booking.visible {
    opacity: 1;
    transform: translateY(0);
}

.card-info {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 75%;
    margin-bottom: 3%;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.card-info.visible {
    opacity: 1;
    transform: translateY(0);
}

.info {
    background-color: white;
    padding: 3%;
    color: black;
}

h3 {
    color: white;
    font-weight: normal;
    font-size: 5em;
    letter-spacing: 0.7em;
    margin-bottom: 3%;
    transform: translateY(50px);
    transition: all 0.6s ease;
    opacity: 0;
}

h3.visible {
    opacity: 1;
    transform: translateY(0px);
}

.extra {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 3%;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.extra.visible {
    opacity: 1;
    transform: translateY(0);
}

#btn-book {
    position: relative;
    background-color: #C1BB7A;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 10%;
    font-size: 2em;
    color: white;
    border: none;
    font-weight: bold;
    gap: 15px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

#btn-book.visible {
    opacity: 1;
    transform: translateY(0);
}

#btn-book::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    /* Comienza con 1/4 del botón */
    height: 100%;
    background-color: rgb(61, 59, 40);
    transition: width 0.5s ease-in-out;
    z-index: 3;
}

#btn-book span {
    position: relative;
    z-index: 1;
}

/* Hover: expansión del fondo y movimiento de la flecha */
#btn-book:hover::before {
    width: 100%;
}

#btn-book:hover #arrow-right {
    left: 80%;
    opacity: 0.8;
}

#arrow-right {
    filter: brightness(0) invert(1);
    position: absolute;
    left: 8%;
    z-index: 4;
    transition: all 0.5s ease-in-out;
}


/* FAQ SECTION */

h3:nth-child(1) {
    margin-bottom: 10%;
}

.container-faq {
    min-height: 100vh;
    height: fit-content;
    background-color: #0C0C0C;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.faqs {
    display: grid;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    padding: 0%;
    height: fit-content;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    grid-auto-flow: dense
}

.faq-column {
    display: flex;
    flex-direction: column;
}

.faq-card {
    color: white;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid white;
    font-size: 1.5em;
    margin-bottom: 6%;
    height: fit-content;
    padding: 2%;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out, height 0.6s ease-out;
}

.faq-card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-out;

}

.faq-card-head.card-opened {
    border-bottom: 1px solid white;
    padding-bottom: 2%;
}

.faq-card-body {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    max-height: 0;
    margin-top: 0;
    padding: 0;
}

.faq-card-body.card-opened {
    max-height: 200px;
    margin-top: 2%;
}

.faq-card-head img {
    transition: transform 0.3s ease-out;
    width: 1.3vw;
    height: 100%;
}

.faq-card-head.card-opened img {
    transform: rotate(180deg);
}

.faq-card.visible {
    opacity: 1;
    transform: translateY(0);
}

/* FOOTER SECTION */

footer {
    display: flex;
    height: fit-content;
    background-color: #0C0C0C;
    padding: 5%;
    justify-content: space-around;
    color: white;
}


#footer-title-desktop {
    font-size: 5vw;
    letter-spacing: 0.4em;
}

#footer-title-mobile {
    display: none;
}

.desktop-nav-footer p:nth-child(1) {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10%;
}

.desktop-nav-footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
    font-size: 1.3em;
    padding: 0;
}

.desktop-nav-footer a {
    color: white;
    transition: color 0.2s ease;

}

.desktop-nav-footer ul li:nth-child(5) {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-izq {
    width: 80%;
    opacity: 0;
    transform: translateY(50px);
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.footer-izq.visible {
    opacity: 1;
    transform: translateY(0);
}

.footer-izq-content {
    position: relative;
    width: fit-content;
    height: 100%;
}


.footer-der {
    width: 20%;
    opacity: 0;
    transform: translateY(50px);
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.footer-der.visible {
    opacity: 1;
    transform: translateY(0);
}

.social {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    z-index: 111;
}

.social a {
    transition: all 0.3s ease;
}

.social a:hover {
    transform: translateY(-5px);
    opacity: 0.8;
}

#change-footer {
    filter: brightness(0) invert(1);
}


/* FORM SECTION */

.step {
    display: none;
    height: 100%;

}

.active {
    display: flex;
}

.modal-content p:nth-child(1) {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5%;
}

#step-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5%;
}

#btn-next {
    align-self: flex-end;
    position: relative;
    overflow: hidden;
}

#btn-next::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #C1BB7A;
    background-image: url("../media/arrow-right.svg");
    background-size: 25px;
    /* Tamaño de la flecha */
    background-repeat: no-repeat;
    background-position: calc(100% - 30px);
    /* Posición inicial de la flecha */
    transition: transform 0.6s ease-in-out;
    transform: translateX(-100%);
}

#btn-next:hover {
    border: none !important;

}

#btn-next:hover::before {
    transform: translateX(0);
}

#btn-next,
    #btn-enviar,
    #back-btn {
        /* Alinea los botones abajo */
        margin-top: 5vh;
    }

#step1 {
    display: flex;
    flex-direction: column;
}

#step2 {
    flex-direction: column;
}

#step3 {
    flex-direction: column;
}


#success-text {
    font-size: 3vw;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

#step3 p:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 15px;
}

.step2-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.step2-container,
.step1-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.campo {
    display: flex;
    flex-direction: column;
    justify-content: start;
}



#booking-form button {
    width: 50%;
    background-color: #0a0a0a;
    padding: 10px 5px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
}

#booking-form button:hover {
    background-color: #2c2c2c;
    border: 1px solid #0C0C0C;
}

#booking-form textarea {
    resize: none;
    height: 10vh;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 0.8em;
}

#booking-form input,
select {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    height: 30px;
    padding: 5px 0px;
    border-radius: 0;
    font-size: 0.8em;
}



#booking-form select option {
    font-size: 0.8em !important;
    width: 10px;
}

#booking-form input:focus {
    outline: none;
    border-bottom: 1px solid #C1BB7A;
}

#booking-form label {
    margin-bottom: 5px;
}

#booking-form {
    font-size: 1.5em;
    height: 100%;
}

#imagen {
    display: none;
}

#custom-file-button {
    width: 50% !important;
    background-color: #16385f !important;
    padding: 5px 5px !important;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 0.7em !important;
    margin-bottom: 5%;
    cursor: pointer;
    transition: all 0.3s ease;
}

#custom-file-button:hover {
    background-color: #132b46 !important;
    border: 0px solid #0C0C0C !important;
    transform: translateX(0px) !important;
}

#form-title {
    align-self: start;
}

#close-modal {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

#close-modal:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

#btn-enviar {
    position: relative;
    overflow: hidden;

}

#btn-enviar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #C1BB7A;
    background-image: url("../media/arrow-right.svg");
    background-size: 25px;
    /* Tamaño de la flecha */
    background-repeat: no-repeat;
    background-position: calc(100% - 30px);
    /* Posición inicial de la flecha */
    transition: transform 1.5s ease-in-out;
    transform: translateX(-100%);
}

#btn-enviar.sending::before {
    transform: translateX(100%);
}

.modal {
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #0c0c0c8f;
    padding: 20%;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    z-index: 1;
    position: absolute;
}

.modal-content {
    background-color: white;
    padding: 5%;
    position: relative;
    width: 100%;
    height: fit-content;
    /* Ajusta esto según el contenido más grande */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 10;
}

.error-message {
    font-size: 0.8em;
    margin-bottom: 20px;
}

/* PORTFOLIO SECTION */




.container-portfolio {
    height: fit-content;
    background-color: #ffffff;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#desktop-nav-portfolio {
    background-color: white;
    padding: 1%;
    margin-bottom: 0;
    font-size: 1.5vw;
}

#nav-portfolio-ig {
    display: none;
}

#desktop-nav-portfolio ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 85px;
    font-size: 1.3em;
    padding: 0;
    margin-top: 5%;
}

#portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* Espacio entre elementos */
    padding: 10px;
    /* Espacio alrededor de la galería */

    align-items: stretch;
    /* Alinea los elementos en la parte superior */
}

.image-container {
    flex: 1 1 200px;
    /* Flex-grow, flex-shrink, flex-basis */
    min-width: 200px;
    max-width: 100%;
    min-height: 400px;
    height: auto;
    overflow: hidden;
}

.image-portfolio {
    width: 100%;
    /* Ocupa el 100% del contenedor */
    height: 100%;
    /* Mantiene la proporción original */
    object-fit: cover;
    /* Ajusta la imagen/video para cubrir el contenedor */
    object-position: center;
    transition: all 0.2s ease-in;
    transform-origin: center;
}

.image-portfolio::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0C0C0C;
}

.image-portfolio:hover {
    opacity: 0.5;
    cursor: pointer;
    transform: scale(1.1);
}

/* Lightbox */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
}


#lightbox-content {
    margin: auto;
    display: block;
    max-width: fit-content;
    max-height: fit-content;
    text-align: center;
}

#lightbox-content img,
#lightbox-content video {
    max-width: 100%;
    max-height: 80vh;
    display: block;
    margin: 0 auto;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.desktop-nav-porfolio {
    display: flex;
    width: 100%;
}

.desktop-nav-portfolio ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 85px;
    font-size: 1.3em;
    padding: 0;
    margin-top: 5%;
}

.desktop-nav-portfolio ul li:nth-child(4) {
    display: flex;
    align-items: center;
    gap: 5px;
}



.desktop-nav-portfolio a {
    color: rgb(0, 0, 0);
    transition: color 0.2s ease;
}

/* LOADER SECTION */

/* From Uiverse.io by mrhyddenn */
.progress-loader {

    scale: 1.1;
}

.progress-loader {
    width: 150px;
    background: rgb(138, 138, 138);
    height: 3px;
    border-radius: 7px;
}

.progress {
    content: '';
    width: 1px;
    height: 3px;
    border-radius: 7px;
    background: rgb(0, 0, 0);
    transition: 0.5s;

}

.disabled {
    pointer-events: none;
    /* Evita que los elementos sean clickeables */
    opacity: 0.5;
    /* Opcional: Reduce la opacidad para indicar que está deshabilitado */
}




.container-loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    justify-content: center;
    background-color: white;
    align-items: center;
    gap: 50px;
    z-index: 1000;
    font-size: 2em;
    font-weight: bold;
}

.container-loader p {
    letter-spacing: 1em;
}

.hamburger {
    display: none;
}

.mobile-break::after {
    content: "\A";
    /* \A representa un salto de línea */
    white-space: pre;
    /* Permite que el \A se interprete como un salto de línea */
    display: none;
    /* Oculto por defecto */
}

.scroll {
    display: none;
}

.header-logo {
    display: none;
}

.tablet-break {
    display: inline;
  }
  
  /* Ocultar el <br> en pantallas de tabletas */
  @media (min-width: 768px) and (max-width: 1024px) {
    .tablet-break {
      display: none;
    }
  }

@media screen and (max-width: 1132px) {

    #btn-seeall {
        color: white;
        background-color: #0C0C0C;
        border: none;
        font-weight: bold;
        font-size: 1.7em;
        padding: 2% 20%;
        margin-top: 5%;
        margin-bottom: 10%;
        transition: all 0.3s ease;
    }

    #argentina {
        object-fit: cover;
        width: 3vw;
        height: auto;
    }

    #video-hero {
        display: block;
    }

    /* PORTFOLIO */

    #lightbox-content img,
    #lightbox-content video {
        max-width: 80%;
        max-height: 80vh;
        display: block;
        margin: 0 auto;
    }

    .close {
        position: absolute;
        top: 120px;
        right: 35px;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
    }

    .container-portfolio {
        margin-top: 70px;
    }

    #desktop-nav-portfolio {
        font-size: 4vw;

        background: rgba(255, 255, 255, 0.89);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    #nav-portfolio-ig {
        display: block;
    }

    /* // */

    .hero-btn {
        font-size: 4vw;

    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        padding: 15px 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #0C0C0C;
        height: 70px;

    }


    .hamburger {
        cursor: pointer;
        display: block;

        opacity: 0;
        transform: translateX(-50px);
        transition: transform 0.6s ease, opacity 0.6s ease;
    }

    .hamburger.visible {
        opacity: 1;
        transform: translateX(0);
    }

    .hamburger input {
        display: none;
    }

    .hamburger svg {
        /* The size of the SVG defines the overall size */
        height: 2.5em;
        /* Define the transition for transforming the SVG */
        transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line {
        fill: none;
        stroke: white;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3;
        /* Define the transition for transforming the Stroke */
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line-top-bottom {
        stroke-dasharray: 12 63;
    }

    .hamburger input:checked+svg {
        transform: rotate(-45deg);
    }

    .hamburger input:checked+svg .line-top-bottom {
        stroke-dasharray: 20 300;
        stroke-dashoffset: -32.42;
    }


    .desktop-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        left: 0;
        position: fixed;
        background-color: rgb(255, 255, 255);
        top: -100%;
        z-index: -1;
        transition: all 0.6s ease;

        background: rgba(255, 255, 255, 0.89);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .desktop-nav.opened {
        top: 0;
        z-index: 9998;
    }

    .desktop-nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 3em;
        gap: 5vh;
    }

    #menu-social {
        display: block;
    }

    .desktop-nav li {
        opacity: 0;
        /* Inicia invisible */
        transform: translateY(20px);
        /* Comienza desde abajo */
        animation: fadeInUp 0.3s forwards;
        /* Aplicamos la animación */
    }

    .desktop-nav li:nth-child(1) {
        animation-delay: 0.2s;
        /* Primer elemento aparece con un retraso de 0.2s */
    }

    .desktop-nav li:nth-child(2) {
        animation-delay: 0.4s;
        /* Segundo elemento con 0.4s de retraso */
    }

    .desktop-nav li:nth-child(3) {
        animation-delay: 0.6s;
        /* Tercer elemento con 0.6s de retraso */
    }

    .desktop-nav li:nth-child(4) {
        animation-delay: 0.8s;
        /* Cuarto elemento con 0.8s de retraso */
    }

    .desktop-nav li:nth-child(5) {
        animation-delay: 1s;
        /* Cuarto elemento con 0.8s de retraso */
    }

    .desktop-nav li:nth-child(6) {
        animation-delay: 1.2s;
        /* Cuarto elemento con 0.8s de retraso */
    }

    /* Definimos la animación */
    @keyframes fadeInUp {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }


    .header-logo {
        color: white;
        font-size: 1.3em;
        display: block;
        opacity: 1;
        transform: translateX(-50px);
        transition: transform 0.6s ease, opacity 0.6s ease;
    }

    .header-logo.visible {
        opacity: 1;
        transform: translateX(0);
    }

    .mobile-break::after {
        display: inline;
    }

    .hero-logo {
        font-size: 8vw;
        text-align: center;
    }

    h1 {
        text-align: center;
        font-size: 4em;
        width: 100%;
    }


    .hero-btn {
        position: absolute;
        top: 70%;
        padding: 2% 20vw;
    }

    .scroll {
        display: flex;
        align-items: center;
        gap: 5px;
        position: absolute;
        bottom: 7%;
        opacity: 0;
        transform: translateX(-50px);
        transition: opacity 0.6s ease, transform 0.6s ease;
    }

    .scroll.visible {
        opacity: 1;
        transform: translateX(0);
    }

    .hero-btn-resource {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 30%;
    }

    #menu-btn {
        display: block;
        filter: brightness(0) invert(1);

    }





    .container-loader p {
        transform: translateY(0px);
        font-size: 0.7em;
        letter-spacing: 0.4em;
    }

    #hero-video {
        display: none;
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        position: relative;
        padding: 5%;
        gap: 80px;
    }

    #resource2 {
        display: none;
    }


    #resource1 {
        left: 50%;
        top: 65%;
        transform-origin: center center;
        /* Para que gire alrededor de su centro */
        animation: rotate 60s infinite linear;
        transform: translate(-50%, -50%) rotate(0deg);
        /* Rotación continua */
        transition: opacity 1s ease;
    }



    #resource2.visible {
        opacity: 1;
    }

    @keyframes rotate {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }

        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }

    /* GALLERY SECTION */

    .gallery {
        align-items: center;
        gap: 30px;
    }

    h2 {
        font-weight: normal;
        font-size: 13vw;
        letter-spacing: 0.4em;
        margin-bottom: 10%;
        margin-top: 10%;
        width: 100%;
        text-align: center;
        transform: translateY(50px);
        transition: all 0.6s ease;
        opacity: 0;

    }

    .gallery-tattoo {
        width: 100%;
        height: auto;
    }

    .swiper-buttons {
        display: none;
    }

    /* BOOKING SECTION */


    .booking-info {
        margin-left: 0%;
    }

    .booking-info p:nth-child(1) {
        margin-bottom: 5%;
    }

    #btn-book span {

        padding-left: 10%;
    }




    .card-info {
        width: 100%;
        margin-bottom: 8%;
    }

    .extra {
        margin-bottom: 8%;
    }

    #btn-book {
        width: 100%;
    }



    h3 {
        font-weight: normal;
        font-size: 13vw;
        letter-spacing: 0.4em;
        margin-bottom: 10%;
        margin-top: 10%;
        width: 100%;
        text-align: center;
        transform: translateY(50px);
        transition: all 0.6s ease;
        opacity: 0;
        display: inline-block;
    }

    h3:nth-child(1) {
        margin-bottom: 10%;
    }

    .container-faq {
        gap: 2em;

    }

    #arrow-down {
        width: 20px;
    }

    .faqs {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .faq-card {
        margin-bottom: 5%;
        gap: 5px;
        font-size: 1.4em;
    }

    footer {
        flex-direction: column;
        gap: 50px;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .footer-der {
        width: 100%;
    }

    .footer-izq-content {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .social {
        position: inherit;
    }

    #footer-title-desktop {
        display: none;
    }

    #footer-title-mobile {
        display: block;
        font-size: 13vw;
    }

    .container-w-left {
        width: 100%;
        padding: 0;
    }

    .container-w-right {
        display: none;
    }

    /* FORM */

    #booking-form select {
        width: 100%;
    }

    .modal {
        padding: 10%;
    }

    #success-text {
        font-size: 5vw;

    }

}

@media screen and (max-width: 1024px) and (max-height: 768px) {

    .hero-logo {
        font-size: 3.5em;

    }

    .hero {}

    h1 {
        text-align: center;
        font-size: 2em;
        width: 100%;
    }

    #resource1 {
        width: 60%;
    }

    .hero-btn {
        position: absolute;
        top: 70%;
        padding: 1% 20%;
    }
}

@media screen and (min-height: 400px) and (max-height: 768px) and (max-width: 1024px) {
    .hero-logo {
        font-size: 3em;
    }

    h1 {
        text-align: center;
        font-size: 1.5em;
        width: 100%;
    }

    .hero {
        gap: 50px;
        padding: 10%;
    }

    .hero-btn {
        position: absolute;
        top: 70%;
        padding: 1% 20%;
        font-size: 3vw;
    }

    #resource1 {
        width: 50%;
    }

    #desktop-nav-portfolio {
        font-size: 2vw;
    }

    #desktop-nav-portfolio ul {
        gap: 5vh;
    }
}

@media screen and (max-width: 768px) {

    .hero-logo {
        font-size: 3.5em;
    }

    h1 {
        text-align: center;
        font-size: 3em;
        width: 100%;
    }

    .hero {
        gap: 50px;
    }

    #resource1 {
        width: calc(90% + 100px);

    }
}


@media screen and (max-width: 560px) {

    /* FORM SECTION */

    #btn-book{
            font-size: 9vw;
    }

    #booking-form select {
        width: 50%;
    }

    .modal {
        padding: 15% 5%;
    }

    .modal-content {
        display: flex;
        justify-content: start;
    }

    #booking-form {
        flex-grow: 1;
        display: flex;
    }

    .step {
        flex-grow: 1;
    }

    #step3 {
        padding-bottom: 5vh;
    }

    #close-modal {
        top: auto;
        right: 5%;
    }

    #success-text {
        font-size: 1em;
        padding-bottom: 10%;
    }




    .step2-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        /* Empuja los botones hacia abajo */
    }

    #btn-next,
    #btn-enviar,
    #back-btn {
        align-self: flex-end;
        /* Alinea los botones abajo */
        margin-top: 1vh;
    }

    #form-title {
        margin-bottom: 13%;
    }

    .step1-container,
    .step2-container {
        grid-template-columns: 1fr;
        gap: 2vh;
    }

    .error-message {
        font-size: 0.8em;
        margin-bottom: 10px;
    }

    /*  */

    .booking-info {
        font-size: 1.2em;

    }

    .desktop-nav ul {
        font-size: 2em;
        gap: 5vh;
    }

    .hero-btn {
        font-size: 1.5em;

    }

    .hero-logo {
        font-size: 2.5em;
    }

    h1 {
        text-align: center;
        font-size: 2em;
        width: 100%;
    }

    .hero {
        gap: 20px;
    }

    #desktop-nav-portfolio {
        font-size: 1.5em;
    }

    #desktop-nav-portfolio ul {

        gap: 5vh;

    }

    .faq-card {
        margin-bottom: 10%;
    }

}

@media screen and (max-width: 560px) and (max-height: 800px) {

    .step1-container,
    .step2-container {
        grid-template-columns: 1fr;
        gap: 1vh;
    }

    #success-text {
        font-size: 1em;
        padding-bottom: 10%;
    }

    .error-message {
        font-size: 0.8em;
        margin-bottom: 5px;
    }
}