* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    text-decoration: none;
    color: #F2F1CE;
}

:root {
    --secundario: rgba(37, 211, 102, 1);
    --principal: #191929;
    --Principal2: #070711;
    --blanco: #F2F1CE;
}

header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    width: 100%;
    padding: 10px 2rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.44) 24.5%, rgba(11, 11, 26, 0.19) 60.5%, rgba(22, 22, 53, 0.00) 92.5%);
    z-index: 1000;
    position: sticky;
    top: 0;
}


nav{
    width: 100%;
    position: fixed;
    top: 0;
    height: 100vh;
    max-width: 0;
    overflow: hidden;
    left: 0;
    display: flex;
    flex-direction: column;
    font-size: 3em;
    gap: 1em;
    align-items: center;
    justify-content: center;
    background-color: #191929a6;
    backdrop-filter: blur(5px);
    z-index: 999;
    transition: max-width 0.3s ease-in-out;
}

nav.show {
    max-width: 100%;
}

nav a{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

nav a.show{
    opacity: 1;
}

.close-icon {
    display: none;
}

.show .menu-icon {
    display: none;
}

.show .close-icon {
    display: block; 
}

.logo a {
    font-weight: 600;
    font-size: 1em;
}

.seccionPrincipal {
    position: relative;
    left: 0;
    top: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%),  lightgray -50.091px 0px / 124.687% 100.219% no-repeat;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    flex-shrink: 0;
    margin-top: -70px;
    z-index: 2;
    padding: 0px 30px;
}

.overlayInicio{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #070711c7;
    z-index: 2;
}

.seccionPrincipal *{
    z-index: 3;
}

.seccionPrincipal video{
    z-index: 1;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.seccionPrincipal h1 {
    font-size: 1.8em;
}

.ubicacion {
    display: flex;
    padding: 10px 0.5em;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    gap: 1.5vw;
    border-radius: 10px;
    background: var(--Principal2, #191929);
}

.verTrabajos {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    align-items: center;
}

.verTrabajos p{
    margin-bottom: 3vh;
}

.verTrabajos img {

    transition: opacity 0.5s ease-in;
}

#flecha1{
    width: 8vw;
    opacity: 0;
}

#flecha2{
    width: 6vw;
    opacity: 0;
}

#flecha3{
    width: 4vw;
    opacity: 0;
}

.botonWhatsapp {
    position: fixed;
    bottom: 2em;
    display: flex;
    align-items: center;
    gap: 1.5vw;
    background-color: var(--secundario);
    width: auto;
    min-width: fit-content;
    padding: 5px 1rem;
    border-radius: 10px;
    font-weight: 600;
    z-index: 100;
    transition: transform 0.5s ease-in-out;
}

.seccionGaleria {
    width: 100%;
    min-height: 620px;
    height: fit-content;
    padding: 30px 30px;
}

.galeria {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 1rem;
    flex-shrink: 0;
    flex-wrap: wrap;
}

@media (max-width: 400px) {
    .galeria img {
        width: 8rem !important;
        height: 8rem !important;
    }
}

.galeria img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 10px;
    transition: width 0.3s ease, height 0.3s ease;
}

.seccionAbout {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: var(--principal);
}

.foto img {
    width: 13em;
    height: 13em;
    border-radius: 10px;
    object-fit: cover;
}

.foto {
    display: flex;
    justify-self: flex-start;
    position: relative;
    position: relative;
    width: fit-content;
    margin-bottom: 40px;
}

.foto p {
    background-color: var(--principal);
    position: absolute;
    right: -4em;
    background-color: var(--Principal2);
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
    padding: 0.5em 1em;
    border-radius: 10px;
    font-weight: 500;
}

#aboutTexto {
    font-size: 1.4rem;
    margin-bottom: 40px;
}

.contadores {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contador {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.seccionFaqs {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #131313;
}


.seccionFaqs h3 {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 40px;
}

.faq {
    width: 100%;
    height: fit-content;
    background-color: var(--principal);
    padding: 0.5em 0.8em;
    border-radius: 10px;
    margin-bottom: 20px;
}

.headerFaq {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-icon{
    transition: transform 0.3s ease;
}

.faqExtendida {
    max-height: 0;
    overflow: hidden;
    padding-top: 0px;
    transition: max-height 0.3s ease-in, padding-top 0.3s ease-in;
}

.faqExtendida-show {
    padding-top: 10px;
}

.seccionTestimonios {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    padding: 30px;
}

.seccionTestimonios h4 {
    color: var(--Principal2);
    font-size: 1.5em;
    margin-bottom: 20px;
}

.carruselTestimonios {
    width: 100%;
    display: flex;
    height: fit-content;
    overflow-x: auto;
    scroll-behavior: smooth;
    align-items: stretch;
}

.testimonio {
    min-width: calc(100% - 20vw);
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--principal);
    flex: 1;
    border-radius: 10px;
}

.testimonio:last-child {
    margin-right: 0;
}

.headerTestimonio {
    display: flex;
    gap: 1em;
    align-items: center;
    min-height: 4em;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 15px;
    border-bottom: 1px solid #292938;
    margin-bottom: 20px;
}

.footerTestimonio{
    border-top: 1px solid #292938;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    padding-top: 15px;
    margin-top: 20px;
    gap: 20px;
}

.footerTestimonio img{
    width: 100%;
}

#verTatuaje{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Principal2);
    padding: 0.8em;
    text-align: start;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 0.8em;
}


.headerTestimonio img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

footer {
    width: 100%;
    height: fit-content;
    min-height: fit-content;
    background-color: var(--principal);
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.redes {
    margin-top: 40px;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
}

.red a {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.mapa {
    border-radius: 15px;
    height: 300px;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
}